<div class="header">
    <button class="header-button">Bouton 1</button>
    <button class="header-button">Bouton 2</button>
    <button class="header-button">Bouton 3</button>
</div>
<div class="main">
    <button class="main-button">Bouton 1</button>
    <button class="main-button">Bouton 2</button>
    <button class="main-button">Bouton 3</button>
    <button class="main-button">Bouton 4</button>
    <button class="main-button">Bouton 5</button>
    <button class="main-button">Bouton 6</button>
</div>
{{token}}