<div class="container">

    <app-header [patient]="patient">  </app-header>
    
    <div class="main-space">
        <div class="button-grid">
            <button (click)="goThere('appointment')">Consultation Generaliste</button>
            <button (click)="goThere('medicalExam')">Examen</button>
            <button (click)="goThere('specialistAppointment')">Consultation Specialiste</button>
            <button (click)="goThere('medicalTransportation')">Transport Medicalise</button>
            <button (click)="goThere('nursing')">Nursing</button>
            <button (click)="goThere('coaching')">Coaching</button>
        </div>
    </div>



</div>
